<!DOCTYPE html>
<html lang="ru-RU" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Калькулятор процентных ставок</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/percent.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/percent.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/percent.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicons/percent.png">


    <meta name="msapplication-TileImage" content="/static/img/favicons/percent.png">
    <meta name="theme-color" content="#ffffff">

    <link href="/static/css/theme.min.css" rel="stylesheet" id="style-default">
    <link rel="stylesheet" href="/static/js/toastr/toastr.min.css">

    <script src="/static/js/jquery-3.5.1.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/toastr/toastr.min.js"></script>

  </head>

  <body>
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <div class="row flex-center min-vh-100 py-6">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">

            <a class="d-flex flex-center mb-4" href="/">
              <img class="me-2" src="/static/img/favicons/percent.png" alt="" width="58" />
              <span class="font-sans-serif fw-bolder fs-5 d-inline-block">ставок</span>
            </a>

            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="row flex-between-center mb-2">
                  <div class="col-auto">
                    <h5>Предложение банка на покупку жилья</h5>
                  </div>
                </div>


                <div class="mb-3">
                  <select id="peopleCategory" class="form-select" aria-label="Категория кредитуемых граждан">
                    {% for people_category in people_categories %}
                    <option value="{{ people_category.id }}">{{ people_category.caption }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3">
                  <select id="homeCategory" class="form-select" aria-label="Тип приобретаемого жилья">
                    {% for home_category in home_categories %}
                    <option value="{{ home_category.id }}">{{ home_category.caption }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary d-block w-100 mt-3" onclick="getPercent()">Узнать</button>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script>
    function getPercent() {
    let peopleCategory = document.getElementById('peopleCategory').value;
    let homeCategory = document.getElementById('homeCategory').value;
    let xhr = new XMLHttpRequest();
    let url = "/getPercent/" + peopleCategory + "/" + homeCategory;
    xhr.open("GET", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            let json = JSON.parse(xhr.responseText);
            if (json.percent){
                toastr.success('Банк выдаст кредит под ' + json.percent + '%');
            }
        }
    };
    xhr.send();
    }
  </script>

</html>